<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="DebugMode" value="false" />
    <!-- DATA STORAGE -->
    <add key="MainConnectionString" value="Server=localhost;Database=fredis;Uid=test;Pwd=test;" />
    <add key="ShardsConnectionStrings"
         value="0 == Server=localhost;Database=fredis.0;Uid=test;Pwd=test; ||
         1 == Server=localhost;Database=fredis.1;Uid=test;Pwd=test;" />

  </appSettings>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <handlers>
      <add path="api*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/FrontEnd/app/404.html"/>
    </httpErrors>
    <!--<httpErrors errorMode="Detailed" />-->
    

    <!-- FRONT END URL REWRITE -->
    <rewrite>
      <rules>
        <!--this is not needed when catch-all is in place -->
        <rule name="Block direct access to FrontEnd" stopProcessing="true">
          <match url="^FrontEnd(.*)"/>
          <action type="Rewrite" url="/FrontEnd/dist/404.html"/>
        </rule>
        <!--<rule name="Yo/" stopProcessing="true">
          <match url="^yo/(.*)"/>
          <action type="Rewrite" url="/FrontEnd/app/{R:1}"/>
        </rule>
        <rule name="Yo" stopProcessing="true">
          <match url="^yo$"/>
          <action type="Redirect" redirectType="Permanent" url="/yo/"/>
        </rule>-->
        <rule name="App version" stopProcessing="true">
          <match url="^app(.*)"/>
          <action type="Rewrite" url="/FrontEnd/app/{R:1}"/>
        </rule>
        <rule name="Dist version" stopProcessing="true">
          <match url="^dist(.*)"/>
          <action type="Rewrite" url="/FrontEnd/dist/{R:1}"/>
        </rule>
        <rule name="Root Redirect to FrontEnd" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <!-- add other special routes that should be accessed directly, e.g. MVC controller -->
            <add input="{REQUEST_URI}" negate="true" pattern="^/api" ignoreCase="true"/>
            <add input="{REQUEST_URI}" negate="true" pattern="^/signalr" ignoreCase="true"/>
          </conditions>
          <!--change 'dist' to 'app' to use app version as default-->
          <action type="Rewrite" url="/FrontEnd/app/{R:1}"/>
          <!-- block front page for the time being -->
          <!--<action type="Rewrite" url="/FrontEnd/app/404.html"/>-->
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>