<?xml version="1.0"?>
  <appSettings>
    <add key="MainConnectionString" value="Server=localhost;Database=fredis;Uid=test;Pwd=test;" />
    <add key="ShardsConnectionStrings"
         value="1 == Server=localhost;Database=fredis.1;Uid=test;Pwd=test; 
              || 2 == Server=localhost;Database=fredis.2;Uid=test;Pwd=test;" />
    <add key="RedisConnectionString" value="localhost,resolveDns=true" />
  </appSettings>

