<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="IdentityContext" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=identity;Uid=test;Pwd=test;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ApplicationUrnKey" value="yonet" />
    <add key="MainConnectionString" value="Server=localhost;Database=fredis;Uid=test;Pwd=test;" />
    <add key="ShardsConnectionStrings" value="1 == Server=localhost;Database=fredis.1;Uid=test;Pwd=test;|| 2 == Server=localhost;Database=fredis.2;Uid=test;Pwd=test;" />
    <add key="TwitterId" value="xxx" />
    <add key="TwitterSecret" value="xxx" />
    <add key="FacebookId" value="xxx" />
    <add key="FacebookSecret" value="xxx" />
    <add key="GoogleId" value="xxx" />
    <add key="GoogleSecret" value="xxx" />
    <add key="LinkedInId" value="xxx" />
    <add key="LinkedInSecret" value="xxx" />
    <add key="YahooId" value="xxx" />
    <add key="YahooSecret" value="xxx" />
  </appSettings>
  <system.web>
    <!--<customErrors mode="Off"/>-->
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!--runAllManagedModulesForAllRequests="true"-->
      <remove name="FormsAuthenticationModule" />
    </modules>
    <!--<modules>
      <remove name="FormsAuthenticationModule" />
    </modules>-->
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404"/>
      <error statusCode="404" responseMode="ExecuteURL" path="/FrontEnd/app/404.html"/>
    </httpErrors>-->
    <httpErrors errorMode="Detailed" />
    <!--FRONT END URL REWRITE-->
    <rewrite>
      <rules>
        <rule name="Allow FrontEnd change for localhost" stopProcessing="true">
          <match url="^FrontEnd/(app|dist)/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="localhost" />
          </conditions>
          <action type="Rewrite" url="/FrontEnd/{R:1}/{R:2}" />
        </rule>
        <rule name="Block direct access to FrontEnd" stopProcessing="true">
          <match url="^FrontEnd(.*)" />
          <action type="Rewrite" url="/FrontEnd/dist/404.html" />
        </rule>
        <rule name="Root Redirect to FrontEnd App for localhost" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <!--Limit access to live version to localhost-->
            <add input="{HTTP_HOST}" pattern="localhost" />
            <!--add other special routes that should be accessed directly, e.g. MVC controller-->
            <add input="{REQUEST_URI}" negate="true" pattern="^/api/" ignoreCase="true" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/account/" ignoreCase="true" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/signalr/" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="/FrontEnd/app/{R:1}" />
        </rule>
        <rule name="Root Redirect to FrontEnd Dist" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <!--add other special routes that should be accessed directly, e.g. MVC controller-->
            <add input="{REQUEST_URI}" negate="true" pattern="^/api/" ignoreCase="true" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/account/" ignoreCase="true" />
            <add input="{REQUEST_URI}" negate="true" pattern="^/signalr/" ignoreCase="true" />
          </conditions>
          <!--change 'dist' to 'app' to use app version as default-->
          <action type="Rewrite" url="/FrontEnd/app/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.5.0" newVersion="6.6.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.net>
    <mailSettings>
      <smtp from="buybackoff@gmail.com">
        <network host="smtp.gmail.com" userName="buybackoff@gmail.com" password="" port="587" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
