<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Yo.NET</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/intro.js/introjs.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>
<body ng-app="yoApp" id="yoApp">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Yo.NET</a>
                    
                </div>
                <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                    <ul class="nav navbar-nav navbar-left">
                        <li data-ng-show="isAuth()" class="ng-hide"><a href="#/yo">Yo</a></></li>
                    </ul>
                    <div auth-header></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div data-ng-view="" ui-view>
            </div>
        </div>

        <!--<div class="header">
            <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            <p class="pull-right" data-step="2" data-intro="Enter your name, yo. A valid Twitter account will be recognized and a link will be added to your message, yo.">@ <input ng-model="state.name" type="text" value="{{state.name}}" /></p>
            <h3 class="text-muted"><a href="https://github.com/buybackoff/Yo.NET" data-step="1" data-intro="GitHub repo is here.">Yo.NET</a></h3>
        </div>-->

        <div class="footer">
            <p>
                ♥ from <a href="https://twitter.com/buybackoff">VB</a> <a><span class="pull-right" onclick="introJs().start();">Show tips</span></a>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://yo.buybackoff.com" data-via="buybackoff" data-hashtags="ServiceStack,SignalR,Fredis,AngularJS,TypeScript,Yeoman,gulpjs,YoNET" data-dnt="true">Tweet</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
            </p>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--<script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>-->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/es6-promise/promise.js"></script>
    <script src="bower_components/signalr/jquery.signalR.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/intro.js/intro.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/bootstrap/js/affix.js"></script>
    <script src="bower_components/bootstrap/js/alert.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>
    <script src="bower_components/bootstrap/js/tooltip.js"></script>
    <script src="bower_components/bootstrap/js/modal.js"></script>
    <script src="bower_components/bootstrap/js/transition.js"></script>
    <script src="bower_components/bootstrap/js/button.js"></script>
    <script src="bower_components/bootstrap/js/popover.js"></script>
    <script src="bower_components/bootstrap/js/carousel.js"></script>
    <script src="bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="bower_components/bootstrap/js/collapse.js"></script>
    <script src="bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->
    <script src="/signalr/hubs"></script>

    <!-- build:js scripts/templates.js -->
    <script src="scripts/templates.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/app.js -->
    <!-- inject:js -->
    <script src="modules/auth/auth.js"></script>
    <script src="modules/yo/yo.js"></script>
    <script src="modules/auth/controllers/authController.js"></script>
    <script src="modules/auth/services/authInterceptorService.js"></script>
    <script src="modules/auth/services/authService.js"></script>
    <script src="modules/auth/directives/authHeader.js"></script>
    <!-- endinject -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->


</body>
</html>
